<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %} {% load static %} {% bootstrap_css %} 
    {% bootstrap_javascript %} 
    {% block links%} {% endblock %}
  </head>
  <body>
    <div class="container">
      <ul class="nav bg-info">
        <li class="nav-item">
          <a class="nav-link link-light" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/polls">POLLS</a>
        </li>
       
      </ul>

      {% if messages %} 
        {% for message in messages %}
          <div class="alert alert-{{message.tags}}">{{message}}</div>
        {% endfor %}
      {% endif %} 
      
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
